[Desktop Entry]
Name=About LunaWolf Linux
Comment=Details regarding LunaWolf and credits
Exec=lunawolf-about
Icon=lunawolf-logo
Type=Application
Categories=System;
Path=
Terminal=false
StartupNotify=false
